In [172]:
import pandas as pd

In [173]:
df = pd.read_excel('/content/Nashville.xlsx')
df.head()

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.5,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE",2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",2.9,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE",2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",2.6,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE",2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",2.0,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0

In [174]:
df.describe()

,UniqueID,SaleDate,SalePrice,Acreage,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
count,56477.000000,56477,5.647700e+04,26015.000000,2.601500e+04,2.601500e+04,2.601500e+04,24163.000000,24157.000000,24275.000000,24144.000000
mean,28334.001133,2015-02-08 08:02:27.373267200,3.272264e+05,0.498923,6.906856e+04,1.607847e+05,2.323754e+05,1963.744899,3.089912,1.886014,0.283921
min,0.000000,2013-01-02 00:00:00,5.000000e+01,0.010000,1.000000e+02,0.000000e+00,1.000000e+02,1799.000000,0.000000,0.000000,0.000000
25%,14186.000000,2014-04-11 00:00:00,1.350000e+05,0.180000,2.100000e+04,7.590000e+04,1.028000e+05,1948.000000,3.000000,1.000000,0.000000
50%,28313.000000,2015-03-24 00:00:00,2.051000e+05,0.270000,2.880000e+04,1.114000e+05,1.485000e+05,1960.000000,3.000000,2.000000,0.000000
75%,42513.000000,2015-12-30 00:00:00,3.285000e+05,0.450000,6.000000e+04,1.807000e+05,2.683500e+05,1983.000000,3.000000,2.000000,1.000000
max,56635.000000,2019-12-13 00:00:00,5.427806e+07,160.060000,2.772000e+06,1.297180e+07,1.394040e+07,2017.000000,11.000000,10.000000,3.000000
std,16352.590651,NaN,9.298326e+05,1.570454,1.060401e+05,2.067999e+05,2.810643e+05,26.542982,0.852869,0.961515,0.487881

In [175]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56477 entries, 0 to 56476
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UniqueID         56477 non-null  int64
 1   ParcelID         56477 non-null  object
 2   LandUse          56477 non-null  object
 3   PropertyAddress  56448 non-null  object
 4   SaleDate         56477 non-null  datetime64[ns]
 5   SalePrice        56477 non-null  int64
 6   LegalReference   56477 non-null  object
 7   SoldAsVacant     56477 non-null  object
 8   OwnerName        25261 non-null  object
 9   OwnerAddress     26015 non-null  object
 10  Acreage          26015 non-null  float64
 11  TaxDistrict      26015 non-null  object
 12  LandValue        26015 non-null  float64
 13  BuildingValue    26015 non-null  float64
 14  TotalValue       26015 non-null  float64
 15  YearBuilt        24163 non-null  float64
 16  Bedrooms         24157 non-null  float64
 17  FullBath         24275 non-null  float64
 18  HalfBath         24144 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(2), object(8)
memory usage: 8.2+ MB

In [176]:
# PropertyAddress dagi null qiymatlarni tekshirish
df[df['PropertyAddress'].isnull()].head()

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
159,43076,025 07 0 031.00,SINGLE FAMILY,NaN,2016-01-15,179900,20160120-0005776,No,"COSTNER, FRED & CAROLYN","410 ROSEHILL CT, GOODLETTSVILLE, TN",0.96,CITY OF GOODLETTSVILLE,30000.0,70000.0,100000.0,1964.0,3.0,1.0,0.0
223,39432,026 01 0 069.00,VACANT RESIDENTIAL LAND,NaN,2015-10-23,153000,20151028-0109602,No,"SHACKLEFORD, MICHAEL C., JR.","141 TWO MILE PIKE, GOODLETTSVILLE, TN",0.17,CITY OF GOODLETTSVILLE,21100.0,121600.0,142700.0,2015.0,3.0,2.0,0.0
246,45290,026 05 0 017.00,SINGLE FAMILY,NaN,2016-03-29,155000,20160330-0029941,No,"TRIPP, MARVIN S. & DEBORAH YOUNG","208 EAST AVE, GOODLETTSVILLE, TN",0.20,CITY OF GOODLETTSVILLE,21100.0,130200.0,151300.0,2008.0,3.0,2.0,0.0
305,53147,026 06 0A 038.00,RESIDENTIAL CONDO,NaN,2016-08-25,144900,20160831-0091567,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
531,43080,033 06 0 041.00,SINGLE FAMILY,NaN,2016-01-04,170000,20160107-0001526,No,"FRANK, ZACHARY & NIKI","1129 CAMPBELL RD, GOODLETTSVILLE, TN",0.24,GENERAL SERVICES DISTRICT,35000.0,110500.0,145500.0,2000.0,3.0,2.0,0.0

In [177]:
# ParcelID bo'yicha birinchi mavjud PropertyAddress qiymatini olish va null qiymatlarni olib tashlash
property_map = df.groupby('ParcelID')['PropertyAddress'].first().dropna()

# Null qiymatlarni to'ldirish uchun .map() dan foydalaning
df['PropertyAddress'] = df['PropertyAddress'].fillna(df['ParcelID'].map(property_map))
df.head()

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.5,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE",2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",2.9,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE",2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",2.6,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE",2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",2.0,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0

In [178]:
# null qiymat bor yo'qligini qayta tekshirish
df[df['PropertyAddress'].isnull()].head()

Empty DataFrame
Columns: [UniqueID , ParcelID, LandUse, PropertyAddress, SaleDate, SalePrice, LegalReference, SoldAsVacant, OwnerName, OwnerAddress, Acreage, TaxDistrict, LandValue, BuildingValue, TotalValue, YearBuilt, Bedrooms, FullBath, HalfBath]
Index: []

In [179]:
# 1. PropertyAdressdan uy nomerini ajratib olish
df['P_A_num'] = df['PropertyAddress'].str.extract(r'^(\d+)')

# 2. PropertyAdressdan ko'chani ajratib olish
df['P_A_street'] = df['PropertyAddress'].str.replace(",", "").str.split(" ", n=2).str[1:].str.join(" ")

# 3. PropertyAdressdan cityni ajratib olish
df['P_A_city'] = df['PropertyAddress'].str.split(",").str[-1].str.strip()
df.sample(10)

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,...,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,P_A_num,P_A_street,P_A_city
21791,42560,093 13 0C 349.00,RESIDENTIAL CONDO,"600 12TH AVE S, NASHVILLE",2015-12-07,280000,20151209-0123792,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600,12TH AVE S NASHVILLE,NASHVILLE
9357,18501,072 09 0G 001.00,RESIDENTIAL CONDO,"916 A SPAIN AVE, NASHVILLE",2014-07-03,275000,20140710-0060674,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,916,A SPAIN AVE NASHVILLE,NASHVILLE
30275,44049,114 07 0A 108.00,RESIDENTIAL CONDO,"2327 TRAEMOOR VILLAGE PL, NASHVILLE",2016-02-26,260000,20160302-0020157,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2327,TRAEMOOR VILLAGE PL NASHVILLE,NASHVILLE
2160,46966,043 13 0A 100.00,VACANT RESIDENTIAL LAND,"0 FOREST PARK RD, MADISON",2016-04-04,150000,20160405-0032680,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,FOREST PARK RD MADISON,MADISON
21443,26860,093 09 0C 234.00,RESIDENTIAL CONDO,"1212 LAUREL ST, NASHVILLE",2015-01-23,315665,20150126-0007457,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1212,LAUREL ST NASHVILLE,NASHVILLE
8017,13345,071 10 0 188.00,VACANT RES LAND,"519 WEAKLEY AVE, NASHVILLE",2014-03-13,20000,20140324-0023699,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,519,WEAKLEY AVE NASHVILLE,NASHVILLE
17032,11031,085 14 0A 200.00,RESIDENTIAL CONDO,"200 RIVERSTONE CT, NASHVILLE",2013-12-26,120000,20140108-0002091,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200,RIVERSTONE CT NASHVILLE,NASHVILLE
48981,20650,162 12 0B 091.00,RESIDENTIAL CONDO,"1345 BELL RD, ANTIOCH",2014-09-24,117000,20140925-0088095,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1345,BELL RD ANTIOCH,ANTIOCH
47104,46141,160 10 0A 021.00,SINGLE FAMILY,"200 HEATHER CIR, BRENTWOOD",2016-04-01,450000,20160405-0032518,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200,HEATHER CIR BRENTWOOD,BRENTWOOD
23752,15863,098 05 0 015.00,SINGLE FAMILY,"6013 PORT JAMAICA DR, HERMITAGE",2014-05-02,157000,20140502-0037638,No,"MUNDY, MELANIE L. & WINTON, JAMES F.","6013 PORT JAMAICA DR, HERMITAGE, TN",...,41000.0,124700.0,165700.0,1976.0,2.0,2.0,0.0,6013,PORT JAMAICA DR HERMITAGE,HERMITAGE

In [180]:
# PropertyAddress tashlab yuborish va df chiqarish
df.drop('PropertyAddress', axis=1, inplace=True)
df.head()

,UniqueID,ParcelID,LandUse,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,...,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,P_A_num,P_A_street,P_A_city
0,2045,007 00 0 125.00,SINGLE FAMILY,2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,...,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0,1808,FOX CHASE DR GOODLETTSVILLE,GOODLETTSVILLE
1,16918,007 00 0 130.00,SINGLE FAMILY,2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.5,...,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0,1832,FOX CHASE DR GOODLETTSVILLE,GOODLETTSVILLE
2,54582,007 00 0 138.00,SINGLE FAMILY,2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",2.9,...,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0,1864,FOX CHASE DR GOODLETTSVILLE,GOODLETTSVILLE
3,43070,007 00 0 143.00,SINGLE FAMILY,2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",2.6,...,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0,1853,FOX CHASE DR GOODLETTSVILLE,GOODLETTSVILLE
4,22714,007 00 0 149.00,SINGLE FAMILY,2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",2.0,...,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0,1829,FOX CHASE DR GOODLETTSVILLE,GOODLETTSVILLE

In [181]:
# 1. OwnerAddress dan uy nomerini ajratib olish
df['Owner_A_num'] = df['OwnerAddress'].str.extract(r'^(\d+)')

# 2. OwnerAddress dan ko'chani ajratib olish
df['Owner_A_street'] = df['OwnerAddress'].str.extract(r'^\d+\s+([A-Za-z\s]+)')

# 3. OwnerAddress dan cityni ajratib olish
df['Owner_A_city'] = df['OwnerAddress'].str.split(",").str[1].str.strip()
df.sample(10)

# 4. OwnerAddress dan state ni ajratib olish
df['Owner_A_state'] = df['OwnerAddress'].str.split(",").str[-1].str.strip()

# Tasodifiy 10 qatorni chiqarish
df.sample(10)

,UniqueID,ParcelID,LandUse,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,...,Bedrooms,FullBath,HalfBath,P_A_num,P_A_street,P_A_city,Owner_A_num,Owner_A_street,Owner_A_city,Owner_A_state
14502,6301,082 14 0A 087.00,RESIDENTIAL CONDO,2013-07-30,129000,20130821-0088125,No,NaN,NaN,NaN,...,NaN,NaN,NaN,846,1ST AVE N NASHVILLE,NASHVILLE,NaN,NaN,NaN,NaN
18069,21215,090 16 0 082.00,SINGLE FAMILY,2014-09-17,190000,20140922-0086897,No,"BROWN, JACOB N.","6220 HENRY FORD DR, NASHVILLE, TN",0.43,...,3.0,2.0,0.0,6220,HENRY FORD DR NASHVILLE,NASHVILLE,6220,HENRY FORD DR,NASHVILLE,TN
38784,23322,133 13 0 099.00,SINGLE FAMILY,2014-11-19,182500,20141121-0107295,No,"TINSLEY, REBECCA & TRUAX, JOHN THOMAS","520 INWOOD DR, NASHVILLE, TN",0.29,...,2.0,1.0,0.0,520,INWOOD DR NASHVILLE,NASHVILLE,520,INWOOD DR,NASHVILLE,TN
8361,29591,071 15 0 232.00,SINGLE FAMILY,2015-04-24,310000,20150505-0040858,No,"BLAUVELT, ADAM & FRANCES","1405 A STAINBACK AVE, NASHVILLE, TN",0.10,...,4.0,3.0,0.0,1405,A STAINBACK AVE NASHVILLE,NASHVILLE,1405,A STAINBACK AVE,NASHVILLE,TN
7431,40620,069 06 0A 040.00,VACANT RESIDENTIAL LAND,2015-11-04,660000,20151104-0112572,Yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,CITY HWY NASHVILLE,NASHVILLE,NaN,NaN,NaN,NaN
16829,49152,085 04 0 017.00,SINGLE FAMILY,2016-05-27,230000,20160606-0056460,No,"KNOWLES, TIMOTHY E. & CATHERINE O.","2003 HICKORY HILL LN, HERMITAGE, TN",0.84,...,3.0,2.0,0.0,2003,HICKORY HILL LN HERMITAGE,HERMITAGE,2003,HICKORY HILL LN,HERMITAGE,TN
35830,55759,128 16 0B 017.00,SINGLE FAMILY,2016-10-21,480000,20161026-0113393,No,NaN,NaN,NaN,...,NaN,NaN,NaN,477,SUMMIT OAKS DR NASHVILLE,NASHVILLE,NaN,NaN,NaN,NaN
23383,18776,097 02 0A 316.00,RESIDENTIAL CONDO,2014-07-29,171984,20140801-0068669,No,NaN,NaN,NaN,...,NaN,NaN,NaN,1245,RIVERBROOK DR HERMITAGE,HERMITAGE,NaN,NaN,NaN,NaN
26331,48126,104 06 0 130.00,SINGLE FAMILY,2016-05-19,657000,20160520-0050916,No,"LIMB, RON E. & TRACEE","3405 LOVE CIR, NASHVILLE, TN",0.16,...,4.0,2.0,1.0,3405,LOVE CIR NASHVILLE,NASHVILLE,3405,LOVE CIR,NASHVILLE,TN
53661,44744,174 11 0A 527.00,VACANT RESIDENTIAL LAND,2016-03-29,775000,20160405-0032520,Yes,NaN,NaN,NaN,...,NaN,NaN,NaN,1445,OHARA DR ANTIOCH,ANTIOCH,NaN,NaN,NaN,NaN

In [182]:
# OwnerAddress tashlab yuborish va df chiqarish
df.drop('OwnerAddress', axis=1, inplace=True)
df.head()

,UniqueID,ParcelID,LandUse,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,Acreage,TaxDistrict,...,Bedrooms,FullBath,HalfBath,P_A_num,P_A_street,P_A_city,Owner_A_num,Owner_A_street,Owner_A_city,Owner_A_state
0,2045,007 00 0 125.00,SINGLE FAMILY,2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE",2.3,GENERAL SERVICES DISTRICT,...,3.0,3.0,0.0,1808,FOX CHASE DR GOODLETTSVILLE,GOODLETTSVILLE,1808,FOX CHASE DR,GOODLETTSVILLE,TN
1,16918,007 00 0 130.00,SINGLE FAMILY,2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE",3.5,GENERAL SERVICES DISTRICT,...,3.0,3.0,2.0,1832,FOX CHASE DR GOODLETTSVILLE,GOODLETTSVILLE,1832,FOX CHASE DR,GOODLETTSVILLE,TN
2,54582,007 00 0 138.00,SINGLE FAMILY,2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE",2.9,GENERAL SERVICES DISTRICT,...,4.0,3.0,0.0,1864,FOX CHASE DR GOODLETTSVILLE,GOODLETTSVILLE,1864,FOX CHASE DR,GOODLETTSVILLE,TN
3,43070,007 00 0 143.00,SINGLE FAMILY,2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.",2.6,GENERAL SERVICES DISTRICT,...,3.0,3.0,0.0,1853,FOX CHASE DR GOODLETTSVILLE,GOODLETTSVILLE,1853,FOX CHASE DR,GOODLETTSVILLE,TN
4,22714,007 00 0 149.00,SINGLE FAMILY,2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.",2.0,GENERAL SERVICES DISTRICT,...,4.0,3.0,0.0,1829,FOX CHASE DR GOODLETTSVILLE,GOODLETTSVILLE,1829,FOX CHASE DR,GOODLETTSVILLE,TN

In [183]:
# SoldAsVacant Y | N qiymatlar borligini tekshirish
df['SoldAsVacant'].value_counts()

SoldAsVacant
No     51403
Yes     4623
N        399
Y         52
Name: count, dtype: int64

In [184]:
# SoldAsVacant Y | N ni --> Yes | No o'zgartirish
df['SoldAsVacant'] = df['SoldAsVacant'].replace({'Y': 'Yes', 'N':'No'})

In [185]:
# SoldAsVacant Y | N qiymatlar borligini tekshirish
df['SoldAsVacant'].value_counts()

SoldAsVacant
No     51802
Yes     4675
Name: count, dtype: int64

In [186]:
df.shape

(56477, 24)

In [187]:
df.drop_duplicates(subset=['ParcelID', 'LandUse', 'SaleDate', 'SalePrice', 'LegalReference', 'SoldAsVacant', 'OwnerName',
                           'Acreage', 'TaxDistrict', 'LandValue', 'BuildingValue', 'TotalValue', 'YearBuilt', 'Bedrooms',
                           'FullBath', 'HalfBath', 'P_A_num', 'P_A_street', 'P_A_city', 'Owner_A_num', 'Owner_A_street',
                           'Owner_A_city', 'Owner_A_state'], inplace=True)
df.shape

(56374, 24)

In [188]:
# OwnerName da null qiymatlarni soni
df['OwnerName'].isnull().sum()

31159

In [189]:
# OwnerName null qiymatlarni Unknown o'zgartirish
df['OwnerName'] = df['OwnerName'].fillna('Unknown')

# OwnerName null qiymatlarni sonini qayta tekshirish
df['OwnerName'].isnull().sum()

0

In [190]:
df.to_excel('Nashville_new.xlsx', index=False)